package require Vivado

set step [lindex $::argv 0]

switch $step {
    next {
        set launch_args "-next_step"
    }
    previous {
        reset_run [current_run] -prev_step
        reset_run [current_run] -prev_step
        set launch_args "-next_step"
    }
    reset {
        reset_run [current_run]
    }
    bitstream {
        set launch_args "-to_step write_bitstream"
    }
    archive {
        archive_project -force [current_project].zip
        exit 0
    }
    default {
        set launch_args "-to_step ${step}_design"
    }

}

launch_runs [current_run] {*}[split $launch_args]
