VPI_SO_PATH := $(shell cocotb-config --lib-name-path vpi questa)
FLI_SO_PATH := $(shell cocotb-config --lib-name-path fli questa)

{% if cocotbhdltype == VerilogSourceFile %}
COCOTB_FLAGS := -no_autoacc -pli $(VPI_SO_PATH)
export GPI_EXTRA := $(FLI_SO_PATH):cocotbfli_entry_point
{% elif cocotbhdltype == VHDLSourceFile %}
COCOTB_FLAGS := -no_autoacc -foreign "cocotb_init $(FLI_SO_PATH)"
export GPI_EXTRA := $(VPI_SO_PATH):cocotbvpi_entry_point
{% endif %}

export PYTHONPYCACHEPREFIX := ./pycache
ifndef PYTHONPATH
  export PYTHONPATH := {{pythonpath}}
else
  export PYTHONPATH := {{pythonpath}}:$(PYTHONPATH)
endif
export LIBPYTHON_LOC := $(shell cocotb-config --libpython)

export MODULE := {{cocotbtop}}
export TOPLEVEL := {{cocotbdut}}

