TOPLEVELS := {{toplevels}}
LIBRARIES := {{ libraries | join(' ', 'Name') }}
VHDL_FILESETS := $(addsuffix .com,$(wildcard *-vhdl.fileset))
VERILOG_FILESETS := $(addsuffix .com,$(wildcard *verilog.fileset))
