indent:
  tokens:
    use_clause:
      keyword:
        token_after_library_clause: 'current'
        token_if_no_matching_library_clause: 'current'

rule:
  global:
    case: 'lower'
    indent_size: 4
  generic_007:
    case: 'upper'
  constant_004:
    case: 'upper'
