-vlog.options {{vlog_args}} -end
-vlog.ext=+.vo
-vcom.options {{vcom_args}} -end
-vlog.ext=+.vho
-vopt.options {{vopt_args}} -end
-vsim.options {{vsim_args}} -end
{% for arg in qrun_args %}
{{arg}}
{% endfor %}
{% for incdir in incdirs %}
+incdir+{{incdir}}
{% endfor %}
{% for library in external_libraries %}
-makelib "{{library.path}}":{{library.name}} -endlib
-reflib {{library.name}}
{% endfor %}
{% for library in libraries %}
-reflib {{library.name}}
{% endfor %}
{% for fileset in filesets %}
-makelib {{fileset.library.name}}:"{{fileset.library.name}}"
{% for file in fileset.files(type=(SystemVerilogFile, VerilogFile, VhdlFile), usedin=UsedIn.SIMULATION) %}
	"{{file.path}}"
{% endfor %}
-endlib
{% endfor %}
