{% if cocotbtop %}
proc restart {} {
    reload
}
{% endif %}

proc recompile {} {
    exec qrun -f {{qrunfile}} -optimize
{% if cocotbtop %}
    restart
{% else %}
    restart -f
{% endif %}
}

proc reload {} {
    # Get visualizer version and clean it up for comparison
    set ver [lindex [split [version vis] "_"] 0]
    # Check that the version is 2025.2 or older
    if {[package vcompare 2025.2 $ver] >= 0} {
        wave save wave.do;
        do vsim.do
        do wave.do
    } else {
        session save default;
        wave save wave.do;
        session load default.ses;
        do wave.do;
    }
}


proc createMenus {} {

    #              WinName      Menu                 MenuItem label         Command
    #              ----------   ----                 --------------------   -------
    add_menu       ""           SimplHDL
    add_menuitem   ""           SimplHDL             "Compile"              recompile
    add_menuitem   ""           SimplHDL             "Restart"              reload
    add_menuitem   ""           SimplHDL             "Run All"              "run -all"
}

createMenus
