+always-comb
+always-comb-blocking
+always-ff-non-blocking
+banned-declared-name-patterns
+case-missing-default
+constraint-name-style
+create-object-name-match
+disable-statement
+endif-comment
+enum-name-style
+explicit-function-lifetime
+explicit-function-task-parameter-type
+explicit-parameter-storage-type
+explicit-task-lifetime
+forbid-consecutive-null-statements
+forbid-defparam
+forbid-line-continuations
+forbid-negative-array-dim
+forbidden-macro
+generate-label
+generate-label-prefix
+interface-name-style
+invalid-system-task-function
+legacy-generate-region
+legacy-genvar-declaration
+line-length
+macro-name-style
+macro-string-concatenation
+mismatched-labels
+module-begin-block
+module-filename
+module-parameter
+module-port
+no-tabs
+no-trailing-spaces
+numeric-format-string-style
+one-module-per-file
+package-filename
+packed-dimensions-range-ordering
+parameter-name-style="localparam_style:ALL_CAPS;parameter_style:ALL_CAPS"
-parameter-type-name-style
+plusarg-assignment
+port-name-suffix
+positive-meaning-parameter-name
+posix-eof
-proper-parameter-declaration
-signal-name-style
+struct-union-name-style
+suggest-parentheses
-suspicious-semicolon
+truncated-numeric-literal
+typedef-enums
+typedef-structs-unions
+undersized-binary-literal
+unpacked-dimensions-range-ordering
-uvm-macro-semicolon
+v2001-generate-begin
+void-cast