package require ::quartus::misc
package require ::quartus::project
package require ::quartus::flow

set step [lindex $argv 0]
project_open {{project.Name}}

switch $step {
   project {
      puts "\nINFO: Project creation was successful.\n"
   }
   compile {
      if {[catch {execute_flow -compile} result]} {
      	puts "\nResult: $result\n"
      	puts stderr "ERROR: Compilation failed.\n"
         exit 1
      } else {
      	puts "\nINFO: Compilation was successful.\n"
      }
   }
   elaborate {
      if {[catch {execute_flow -analysis_and_elaboration} result]} {
      	puts "\nResult: $result\n"
      	puts "ERROR: Analysis and Elaboraion failed. See report files.\n"
         exit 1
      } else {
      	puts "\nINFO: Analysis and Elaboraion was successful.\n"
      }
   }
   implement {
      if {[catch {execute_flow -implement} result]} {
      	puts "\nResult: $result\n"
      	puts "ERROR: Implement failed. See report files.\n"
         exit 1
      } else {
      	puts "\nINFO: Implement was successful.\n"
      }
   }
   finalize {
      if {[catch {execute_flow -finalize} result]} {
      	puts "\nResult: $result\n"
      	puts "ERROR: Finalize failed. See report files.\n"
         exit 1
      } else {
      	puts "\nINFO: Finalize was successful.\n"
      }
   }

}

exit 0
