{% if wavedump %}
{% if waveformat == 'vcd' %}
vcd file vsim.vcd
vcd add -r /*
{% elif waveformat == 'evcd' %}
vcd file vsim.evcd
vcd add -dumpports -r /*
{% elif waveformat == 'wlf' %}
log -r /*
{% endif %}
{% endif %}

run -all
quit
